@import '@/scss/fonts';
@import '@/scss/breakpoints';

$logo-size: 40px;
$logo-size-xs: 20px;

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerNav {
  display: flex;
  flex-direction: row;
  flex-grow: 0.8;
  justify-content: space-evenly;
}
.headerNavElement {
  @include body;
  transition: 0.3s;
  color: var(--primary-text-color);
  &:hover {
    color: var(--primary-color);
  }
  &:active {
    transform: translateY(4px);
  }
}

.activeHeaderNavElement {
  font-weight: 700;
  color: var(--primary-color);
}

.logo {
  transition: 0.3s;
  width: $logo-size;
  height: $logo-size;
}

@include breakpoint-s {
  .headerNavElement {
    @include label;
  }
  .logo {
    width: $logo-size-xs;
    height: $logo-size-xs;
  }
}
