@import '@/scss/spacing';

.converterSelectionContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--primary-text-color);
  gap: $spacing-sm;
  margin-bottom: $spacing-sm;
}

.accentText {
  font-weight: 600;
}
