@import '@/scss/fonts';
@import '@/scss/spacing';

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  padding: $spacing-s;
}
