.container {
  display: flex;
  justify-content: center;
  h1 {
    color: white;
  }
}

.currencyList {
  gap: var(--spacing-xl);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 780px) {
  .currencyList {
    gap: var(--spacing-s);
  }
}
