.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: #00000070;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}

.active {
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}

.modalContent {
  padding: 24px 32px;
  background-color: #273141;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: scale(0.5);
}

.activeContent {
  transition: 0.3s;
  transform: scale(1);
}
