@import '@/scss/fonts';
@import '@/scss/spacing';

.inputField {
  box-shadow: var(--box-shadow-color) 0px 5px 15px;
  background-color: var(--search-color);
  color: var(--primary-text-color);
  border: 0;
  border-radius: 8px;
  padding: $spacing-sm $spacing-s;
  height: 40px;
  outline: none;
  @include label-large;
}
