@import '@/scss/spacing';
@import '@/scss/breakpoints';

.converterItem {
  display: flex;
  flex-basis: calc(50% - $spacing-s);

  position: relative;
  background-color: var(--converter-item-color);
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-color) 0px 3px 8px;
  @include breakpoint-l {
    flex-grow: 1;
    font-size: 14px;
  }

  p {
    font-weight: 700;
    color: var(--primary-text-color);
  }
}

.fromToContainer {
  display: flex;
  gap: $spacing-xs;
  align-items: center;
  @include breakpoint-s {
    font-size: 12px;
    gap: $spacing-xs;
  }
  p {
    font-size: 14px;
    color: var(--tertiary-text-color);
  }
}

.currencyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 20px;
    @include breakpoint-l {
      font-size: 14px;
    }
  }
}

.currencyIcon {
  width: 28px;
  height: 28px;
  @include breakpoint-l {
    width: 16px;
    height: 16px;
  }
}
