@import '@/scss/spacing';
@import '@/scss/breakpoints';

.converterList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: flex-start;
  margin-bottom: $spacing-sm;
  padding: 2px;
  gap: $spacing-s;
}

@include breakpoint-l {
  .converterList {
    overflow-y: scroll;
  }
}
