@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
  margin: var(--spacing-sm) var(--spacing-xl);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  body {
    margin: var(--spacing-sm) var(--spacing-m);
  }
}
