@import '../../fonts';

$icon-size: 80px;
$icon-size-m: 64px;
$icon-size-s: 40px;

.cardContainer {
  display: flex;
  flex-basis: calc(50% - var(--spacing-xl) / 2);
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-m);
  border-radius: 8px;
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  transition: 0.3s;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    width: $icon-size;
    height: $icon-size;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  .currencyName {
    @include subheading-1;
    color: var(--primary-text-color);
  }
  .currencyValue {
    @include subheading-2;
    color: var(--tertiary-text-color);
  }
}

@media screen and (max-width: 780px) {
  .cardContainer {
    flex: 0 0 100%;
    padding: var(--spacing-s) var(--spacing-sm);
    gap: var(--spacing-s);
  }
  .iconContainer {
    .icon {
      width: $icon-size-s;
      height: $icon-size-s;
    }
  }
  .infoContainer {
    .currencyName {
      @include label;
    }
    .currencyValue {
      @include label;
    }
  }
}
