[data-theme='light'] {
  --bg-color: #fcfdf6;
  --primary-color: #006e11;
  --title-gradient-start: #00ce2c;
  --title-gradient-middle: #aedf23;
  --title-gradient-end: #a3dc00;
  --primary-text-color: #1a1c19;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #6d6d6d;
  --card-color: #dee4d8;
  --card-text-color: #a7b2c3;
  --footer-text-color: #898989;
  --hero-gradient-start: #53634e;
  --hero-gradient-end: #006e1180;
  --border-color: #73796e;
  --active-card-color: #c4e2ab;
}
[data-theme='dark'] {
  --bg-color: #030304;
  --primary-color: #36e440;
  --title-gradient-start: #00ce2c;
  --title-gradient-middle: #aedf23;
  --title-gradient-end: #a3dc00;
  --primary-text-color: #ffffff;
  --secondary-text-color: #d9d9d9;
  --tertiary-text-color: #a7b2c3;
  --card-color: #202025;
  --card-text-color: #a7b2c3;
  --footer-text-color: #898989;
  --hero-gradient-start: #24794010;
  --hero-gradient-end: #121212;
  --border-color: #474747;
  --active-card-color: #474747;
}
