@import '@/scss/fonts';
@import '@/scss/breakpoints';
@import '@/scss/spacing';

.converterModal {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  min-height: 500px;
  min-width: 500px;
}

.modalTitle {
  @include body;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: $spacing-sm;
}

@include breakpoint-s {
  .converterModal {
    min-height: 400px;
    min-width: 200px;
  }
}
