@import '@/scss/fonts';
@import '@/scss/breakpoints';
@import '@/scss/spacing';

.currencySection {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  .currencySectionTitle {
    @include subheading-1;
    color: var(--primary-text-color);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -$spacing-sm;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--border-color);
      @include breakpoint-l {
        width: 100%;
      }
    }
  }
}

.currencyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-sm;
}

.loaderContainer {
  margin-top: $spacing-xl;
  gap: $spacing-s;
  display: flex;
  justify-content: center;
  align-items: center;
}
