@import '@/scss/fonts';

.chartCurrencyInfoContainer {
  display: flex;
  gap: 24px;
  margin-left: 40px;
}

.chartCurrencyInfoImg {
}

.chartCurrencyInfo {
  h2 {
    @include subheading-1;
    color: var(--primary-text-color);
    font-weight: 600;
  }
  h4 {
    @include subheading-2;
    color: var(--tertiary-text-color);
  }
}
